<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Disease Prediction</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h1 class="text-2xl font-bold mb-6 text-center">Heart Disease Predictor</h1>
        <form action="/predict" method="post" class="space-y-4">
            <input type="number" name="age" placeholder="Age" required class="w-full p-2 border rounded">
            <!-- <input type="number" name="bp" placeholder="Blood Pressure" required class="w-full p-2 border rounded"> -->
            <input type="number" name="chest_pain" placeholder="chest_pain(0-3)" required class="w-full p-2 border rounded">
            <input type="number" name="heart_rate" placeholder="Heart Rate" required class="w-full p-2 border rounded">
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white p-2 rounded">Predict</button>
        </form>
    </div>
</body>
</html>
